@import "src/styles";

.modal {
  --bs-modal-width: 660px;
  padding: 24px;
}

.modal-content {
  border: #fff;
  box-shadow: 0px 6px 24px 4px rgba(16, 24, 40, 0.18),
    0px 12px 48px 6px rgba(16, 24, 40, 0.14);
  border-radius: 8px;
}

.modal-header {
  border-bottom: none;
  padding: 16px 24px;
}
.modal-header-container-left {
  display: flex;
}

.ph-fill {
  padding-right: 10px;
  font-size: 28px;
}

.modal-body {
  padding: 16px 24px;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.btn-container-right {
  display: flex;
  gap: 8px;
}

.btn {
  --bs-btn-hover-bg: #133863;
  --bs-btn-hover-border-color: #133863;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-bg: #06192e;
  --bs-btn-active-border-color: #06192e;
  --bs-btn-disabled-bg: #e7e7e7;
  --bs-btn-disabled-border-color: #e7e7e7;

  & > i {
    font-size: 14px;
  }
}

button[aria-label="Close"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 7px;
  --bs-btn-hover-bg: hsla(0, 0%, 22%, 0.1);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;

  & > i {
    font-size: 20px;
    font-weight: bold;
    color: $primary-70;
  }
}

.btn-primary {
  --bs-btn-bg: #1e4f7b;
  --bs-btn-border-color: #1e4f7b;
}

.btn-secondary {
  --bs-btn-color: #393939;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #393939;
  font-weight: $poppins-semibold;
}

.btn-tertiary {
  --bs-btn-color: #1e4f7b;
  border: none;
  font-weight: $poppins-semibold;
}
