<h3>Modal</h3>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-container-left">
          <i class="ph-fill ph-info"></i>
          <h1 class="modal-title fs-5" id="exampleModalLabel">Header title</h1>
        </div>
        <div class="modal-header-container-right">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="ph ph-x"></i>
          </button>
        </div>
      </div>

      <div class="modal-body">
        This is place holder text. Modals contain only the most valuable and
        relevant information. Simplify content to only the details pertinent to
        the immediate user task. If the task requires more, consider an
        alternative component.
      </div>
      <div class="modal-footer">
        <div class="btn-container-left">
          <button type="button" class="btn btn-secondary btn-tertiary">
            Button 3 <i class="ph ph-plus"></i>
          </button>
        </div>
        <div class="btn-container-right">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close <i class="ph ph-plus"></i>
          </button>
          <button type="button" class="btn btn-primary">
            Save changes <i class="ph ph-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
