<h3>Pagination</h3>

<nav aria-label="Page navigation example" class="row">
  <ul class="pagination">
    <li class="page-item pe-2">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true"><i class="ph-bold ph-caret-left"></i></span>
      </a>
    </li>
    <li class="pe-2">
      <label for="inlineFormInputGroupUsername">Page</label>
    </li>
    <li>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroupUsername"
          placeholder="1"
        />
      </div>
    </li>
    <li class="ps-2">
      <label for="inlineFormInputGroupUsername">of 5</label>
    </li>
    <li class="page-item ps-2">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true"><i class="ph-bold ph-caret-right"></i></span>
      </a>
    </li>
  </ul>
</nav>
