@import "src/styles";

.form-label-group {
  position: relative;
}

.form-control {
  padding-left: 44px;
  border-color: $transparent-light-10;
}

.form-control:hover {
  background: $transparent-light-10;
}

.form-control:focus {
  border-color: $primary-70;
  // outline: 2px solid $primary-70;
  box-shadow: 0 0 0 1px $primary-70;
}

.ph-magnifying-glass {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: bold;
  font-size: 20px;
  color: $primary-70;
}
